{
    acme_ca {$ACME_CA_URL:-https://acme-v02.api.letsencrypt.org/directory}
    email {$ACME_EMAIL:-admin@company.com}
}

{$DOMAIN_NAME} {
    # Habilita o HTTPS usando o DNS Challenge com DuckDNS
    tls {
        dns duckdns {$DUCKDNS_TOKEN}
        resolvers 1.1.1.1
        propagation_delay 60s
        propagation_timeout 5m
    }

    # Roteamento de API e Actuator para o backend
    handle /api/* {
        reverse_proxy core:8080
    }
    handle /actuator/* {
        reverse_proxy core:8080
    }

    # Proxy reverso para o Frontend Next.js (fallback)
    handle {
        reverse_proxy frontend:3000
    }
}
